---
targets:
  - image: minimum2scp/ruby:latest
    platform: sid-amd64
    version: 3.2.9
    install_rust: true

    envs:
      RUBY_CONFIGURE_OPTS: "--enable-load-relative"

    before_build:

    after_build:
      - rbenv global 3.2.9
      - ruby --version
      - gem --version
      - gem update --system 4.0.1 -N
      - gem --version

  - image: minimum2scp/ruby:latest
    platform: sid-amd64
    version: 3.3.10
    install_rust: true

    envs:
      RUBY_CONFIGURE_OPTS: "--enable-load-relative"

    before_build:

    after_build:
      - rbenv global 3.3.10
      - ruby --version
      - gem --version
      - gem update --system 4.0.1 -N
      - gem --version

  - image: minimum2scp/ruby:latest
    platform: sid-amd64
    version: 3.4.7
    install_rust: true

    envs:
      RUBY_CONFIGURE_OPTS: "--enable-load-relative"

    before_build:

    after_build:
      - rbenv global 3.4.7
      - ruby --version
      - gem --version
      - gem update --system 4.0.1 -N
      - gem --version

  - image: minimum2scp/ruby-trixie:latest
    platform: trixie-amd64
    version: 3.2.9
    install_rust: true

    envs:
      RUBY_CONFIGURE_OPTS: "--enable-load-relative"

    before_build:

    after_build:
      - rbenv global 3.2.9
      - ruby --version
      - gem --version
      - gem update --system 4.0.1 -N
      - gem --version

  - image: minimum2scp/ruby-trixie:latest
    platform: trixie-amd64
    version: 3.3.10
    install_rust: true

    envs:
      RUBY_CONFIGURE_OPTS: "--enable-load-relative"

    before_build:

    after_build:
      - rbenv global 3.3.10
      - ruby --version
      - gem --version
      - gem update --system 4.0.1 -N
      - gem --version

  - image: minimum2scp/ruby-trixie:latest
    platform: trixie-amd64
    version: 3.4.7
    install_rust: true

    envs:
      RUBY_CONFIGURE_OPTS: "--enable-load-relative"

    before_build:

    after_build:
      - rbenv global 3.4.7
      - ruby --version
      - gem --version
      - gem update --system 4.0.1 -N
      - gem --version

  - image: minimum2scp/ruby-bookworm:latest
    platform: bookworm-amd64
    version: 3.2.9
    install_rust: true

    envs:
      RUBY_CONFIGURE_OPTS: "--enable-load-relative"

    before_build:
      ## assert no-merged-usr (see https://github.com/minimum2scp/dockerfiles/pull/191)
      - if [ -L /bin -o -L /lib -o -L /sbin ]; then exit 1; fi

    after_build:
      - rbenv global 3.2.9
      - ruby --version
      - gem --version
      - gem update --system 4.0.1 -N
      - gem --version

  - image: minimum2scp/ruby-bookworm:latest
    platform: bookworm-amd64
    version: 3.3.10
    install_rust: true

    envs:
      RUBY_CONFIGURE_OPTS: "--enable-load-relative"

    before_build:
      ## assert no-merged-usr (see https://github.com/minimum2scp/dockerfiles/pull/191)
      - if [ -L /bin -o -L /lib -o -L /sbin ]; then exit 1; fi

    after_build:
      - rbenv global 3.3.10
      - ruby --version
      - gem --version
      - gem update --system 4.0.1 -N
      - gem --version

  - image: minimum2scp/ruby-bookworm:latest
    platform: bookworm-amd64
    version: 3.4.7
    install_rust: true

    envs:
      RUBY_CONFIGURE_OPTS: "--enable-load-relative"

    before_build:
      ## assert no-merged-usr (see https://github.com/minimum2scp/dockerfiles/pull/191)
      - if [ -L /bin -o -L /lib -o -L /sbin ]; then exit 1; fi

    after_build:
      - rbenv global 3.4.7
      - ruby --version
      - gem --version
      - gem update --system 4.0.1 -N
      - gem --version


